/* ROOT */

@font-face {
    font-family: 'google-roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 500px;
    font-family: 'google-roboto';
    background-image: url(/img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 20%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 15px;
    background-color: #fafafa;
    padding: 30px 0px 0 75px;
    border-radius: 10px;
}


.containerRoot {
    margin: 0px 80px 0px  80px;
   
}

h1 {
    margin-top: 0px;
    margin-bottom: 95px;
    text-align: center;
    font-size: 40px;
    color:  #5d5d5d;
    /* font-weight: 900; */
    text-transform: uppercase;
}

h2 {
    margin-bottom: 300px;
    text-align: center;
    color:  #5d5d5d
}

h3 {
    font-size: 20px;
    color: #5d5d5d;
}

strike {
    color: red;
}

/* HEADER */

header {
    width: 92.%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 10px;
    height: 152px;
}
header img {
    width: 185px;
    margin-left: 41px;
}
header div ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0;
}
.div-menu ul li {
    list-style-type: none;
    /* padding: 28px; */
}
.div-menu ul li a{
    /* text-decoration:none;  */
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #e7333f;
    transition: 0.6s;
   
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: #e7333f;
    -moz-text-decoration-color: #e7333f;
}
.div-menu ul li a:hover {
    text-decoration-color: #fff;
     /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: #fff;
    -moz-text-decoration-color: #fff;
}
.div-menu {
    width: 100%;
    align-items: center;
    display: flex;
    /* margin-left: 100px; */
    background-color: #e7333f;
    height: 39px;
}


/* SECTION HOME */
.index{
    height: 434px;
}

section .formas-pgto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-home {

}
.section-home div h1 {
    margin-top: 52px;
    margin-bottom: 10px;

}

.banner-home {
    /*! margin: 509px 81px 0px 10px; */
    height: inherit;
    /*! display: flex; */
}

.banner-home div {
    position: relative;
    bottom: 353px;
    text-align: center;
    color: withe;
    color: white;
    font-size: 45px;
    text-shadow: 5px 4px 9px #1b1b1b;
}

.banner-home div h1{
    color: #fff;
    text-shadow: 5px 4px 9px #1b1b1b;
    font-size: 85px;
}

.banner-home img{
    width: 1621px;
    height: 400px;
    /*! margin-top: 404px; */
    /*! margin-right: 67px; */
}


main .section-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: inherit;
    /*! width: 100%; */
    margin-top: 336px;
}


/* SECTION PRODUTOS */

.section-produtos {
    width: 100%;
    display: flex;
}

aside {
    height: 800px;
    padding: 5px;
    color: #5d5d5d;
    line-height: 29px;
}

aside ul li {
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s;
}

aside ul li:hover{
    color: #000000;
    font-size: 16.8px;
 
}

.produtos-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1473px;
    background-color: #fdfdfd;
}

.produtos-img div {
    padding: 0px 73px 139px 134px;
    width: 491px;
    margin-bottom: 7px;
}

.boxProdutos {
    line-height: 19px;
    color: #5d5d5d;;
}

.boxProdutos img {
    max-height: 200px;
}

.boxProdutos p {
    margin-top: 10px;
}

.boxProdutos p:nth-child(2) {
    text-transform: uppercase;
    margin-top: 25px;
}

/* SECTION LOJAS */

.section-lojas {
    width: 100%;
    display: flex;
    justify-content: center
}

.section-lojas div {
    padding: 10px 50px;
    line-height: 11px;
  
}

.section-lojas div img {
    width: 230px;
}



/* SECTION CONTATO */

.section-contato div img {
    width: 150px;
}

.section-contato .zap-contato {
    display: flex;
    font-size: 30px;
    margin-bottom: 50px;
    align-items: center;

}


.section-contato form {
    padding: 30px;
    border-radius: 7px;
    width: 549px;
    /* margin-left: 359px; */
    border: 1px solid #d4d4d4;
}

button {
    width: 15%;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    background-color: green;
    height: 30px;
}

/* PEDIDOS */

.table-pedidos {
    width: 1094px;
    border: 1px solid #d4d4d4;
}

.form-pedidos {
    padding: 30px;
    border-radius: 7px;
    width: 549px;
    /* margin-left: 359px; */
    border: 1px solid #d4d4d4;
}

.form-pedidos h2 {
    margin-bottom: 20px;
}

tbody tr th, thead tr th {
    text-align: center;
}



/* FOOTER */

.formas-pgto h4 {
    color: #5d5d5d;
}

.formas-pgto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 116px;
}
.formas-pgto img{
    width: 386px;
    margin-top: 8px;
}